<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Savings Account Comparison Tool | Testing Test</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function(){
            $("form").validate({
                rules: {
                    current_principal: {
                        required: true,
                        min: 0
                    },
                    current_rate_percent: {
                        required: true,
                        min: 0
                    },
                    years: {
                        required: true,
                        min: 1
                    }
                },
                messages: {
                    current_principal: "This field is required.",
                    current_rate_percent: "This field is required.",
                    years: "This field is required."
                },
                submitHandler: function(form) {
                    $("div.result").replaceWith('<div class="result loading" />');
                    $.ajax({
                        type: "POST",
                        url: "/compare",
                        data: $(form).serialize(),
                        success: function(result){
                            $("div.result").replaceWith(result);
                        }
                    });
                }
            });
        });
    </script>
    <div class="banner"><a href="/instructions">What is this?</a></div>
    <div class="widget">
        <div class="header">
            <img id="flag" src="/images/flag.bmp" alt="Flag">
            <img id="bank_name" src="/images/bank_name.png" alt="<%= $new_bank_name %>">
        </div>
        <h2>Savings Account Comparison Tool</h2>
        <p>
            <span class="new_bank"><%= $new_bank_name %></span> is offering an annual interest rate of <strong><%= sprintf('%.2f', $new_bank_rate_percent) %>%</strong> on new online savings accounts. Find out how much more you could be earning right here!</p>
        </p>
        <form method="post">
            <p>
                <label for="current_principal">What is your <strong>current principal</strong> amount?</label>
                <br />
                $<input type="text" name="current_principal" value="10000" id="current_principal" size="5" tabindex=1 />
            </p>
            <p>
                <label for="current_rate_percent">What is your <strong>current annual interest rate</strong>?</label>
                <br />
                <input type="text" name="current_rate_percent" value="1.00" id="current_rate_percent" size="5" tabindex=3 />%
            </p>
            <p>
                <label for="years">How many <strong>years</strong> do you plan to save?</label>
                <br />
                <input type="text" name="years" value="3" id="years" size="5" tabindex=2 />
            </p>
            <p>
                <input type="submit" value="Compare" tabindex=4 />
            </p>
        </form>
        <div class="result">
        </div>
    </div>
</body>
</html>



