<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Instructions | Black Box Software Testing Puzzle</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <h1>Black Box Software Testing Puzzle</h1>
    <h2>Savings Account Comparison Tool</h2>
    <h3>What Is This?</h3>
    <p>
        This is a sample application developed to help evaluate software testers.
    </p>
    <h3>The Scenario</h3>
    <p>
        "<%= $new_bank_name %>" has hired you test a marketing tool developed for them.  They're trying to get the word out on their high annual interest rate (<%= sprintf('%.2f', $new_bank_rate_percent) %>%) on new Internet savings accounts.
    </p>
    <p>
    The tool is essentially a compound interest calculator.  It invites potential customers to compare their current savings account annual interest rate with theirs, showing them in a comparison area how much more money they could be earning if they switched.
    </p>
        <h3>Instructions</h3>
    <p> 
        Please spend no more than 1 hour exploratory testing the application, making note of:
        <ul>
            <li>The bugs you discovered</li>
            <li>Questions you have for the client or their developers</li>
            <li>Obstacles you encountered</li>
        </ul>
        Afterwards, please send us an e-mail with:
        <ul>
            <li>A summary of your experience</li>
            <li>Bug reports (a description and severity level) for the bugs you discovered</li>
        </ul>
    </p>
    <h3>Qualities We're Looking For</h3>
    <ul>
        <li>Clarity</li>
        <li>Consiseness</li>
</body>
</html>